.nav {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0;
  .logo img {
    width: 100px;
    height: 100px;
  }
  .links {
    text-transform: uppercase;
    text-align: right;
    padding: 40px 0;
    a {
      letter-spacing: 5px;
      text-decoration: none;
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 20px;
      color: #234ef3;
    }
  }
}
