@font-face {
    font-family: "2-Questa_Sans_Regular";
    src: url("2-Questa_Sans_Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

body{
  margin: 0px;
  font-family: '2-Questa_Sans_Regular';
}

section{
  padding: 30px 0;
}

.container{
  height: auto;
  width: 1050px;
  margin: auto;
  text-align: center;
}

.navbar{
  background-color: #f4f4f4;
  text-align: center;
  padding: 25px;
}

.nav{
  list-style: none;
  margin: 0;
}

.nav li{
  display: inline;
}

.nav li a{
  color: #000;
  text-decoration: none;
  padding: 24px;
}

.basic_info{
  text-align: center;
  position: relative;
}

.basic_info .name{
 position: relative;
 z-index: 1;
}

.basic_info .name h1{
  margin: 0px;
  opacity: 0.1;
  font-size: 230px;
}

.basic_info .location{
  text-align: left;
  position: absolute;
  top: 20%;
  left: 28%;
  z-index: 2;
}

.basic_info .location .img-text .text{
  float: right;
  margin-left: 25px;
}

.basic_info .location .img-text .text h2{
  margin-top: 0px;
}
.text p{
  margin-bottom: 0px;
}

.basic_info .location .img-text .circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.basic_info .info p{
  text-align: justify;
  margin: 0px;
  position: absolute;
  padding: 0 200px;
  bottom: 0px;
  margin-left: 40px;
  width: 530px;
}

.company p {
  margin: 0px;
  color: #929292;
}
.company h4 {
  margin: 0px;
}

.work_exp .tech{
  text-align: center;
}

.work_exp h1 , .tech h1, .award-achieve h1{
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-size: 38px;
}

.web-tech h5{
  color: #929292;
  margin-bottom: 5px;
}
.database h5{
  color: #929292;
  margin-bottom: 5px;
}
.framework h5{
  color: #929292;
  margin-bottom: 5px;
}

.web-tech p{
  margin-top: 5px;
}

.database p{
  margin-top: 5px;
}

.framework p{
  margin-top: 5px;
}
